
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
<br />
<br />
<div>
    This is Contact Page
</div>
<br />
<div>
    This is phone number <p style="text-decoration:underline">555 444 33 2211</p>
</div>

